@import "../imports/helper"

.manage
    .info
        @extend %card
        min-height: 200px
    .list
        @extend %list
        .product
            border: 0 !important
            box-shadow: none !important