@import "../imports/helper"

.products
    overflow-x: hidden
    .list
        @extend %list

.product
    overflow-x: hidden
    .pic
        height: 500px
        +background-size(contain)
        background-repeat: no-repeat